CREATE TABLE outlier_samples (
    sample VARCHAR
);

COPY outlier_samples
FROM '{{outlier_samples}}' (
    FORMAT CSV,
    DELIMITER '\t',
    HEADER false
);

CREATE TABLE variants (
    vid VARCHAR,
    sample VARCHAR
);
